<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-lg">
        <a class="navbar-brand fw-bold fs-4" href="/">InventroBil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav class="navbar-nav ms-auto">
                <a class="nav-link mx-2" href="/">Home</a>
                <a class="nav-link mx-2" href="/inventory">Inventory</a>
                <a class="nav-link mx-2" href="/billing">Billing</a>
                <a class="nav-link mx-2" href="/">[user]</a>
            </nav>
        </div>
    </div>
</nav>
